@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .customContainer {
    @apply px-4 py-8 md:px-12 md:py-16;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 10px;
}
